@import "tailwindcss";

body {
  font-family: var(--font-inter);
}

.font-heading {
  font-family: var(--font-merriweather);
}

:root {
  --background: 250 248 245;
  --foreground: 17 24 39;

  --card: 245 243 240;
  --muted: 235 233 230;

  --border: 210 210 220;

  --primary: 124 58 237;
  --primary-foreground: 255 255 255;
}

.dark {
  --background: 17 24 39;
  --foreground: 243 244 246;

  --card: 31 41 55;
  --muted: 55 65 81;

  --border: 75 85 99;

  --primary: 168 85 247;
  --primary-foreground: 255 255 255;
}